<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header" style="font-size: 35px;color: lightslategray">项目信息</div>
                <div class="layui-card-body" >
                    <h1>项目简介：本项目为本人第一个Spring Boot项目，初次尝试使用Shiro作为安全框架，支持Restful风格，加深了对Spring Boot集成Shiro的理解和使用</h1><br>
                    <hr>
                    <h1>运行环境：</h1>
                    <h2>开发工具：IDEA 2019.3.2</h2>
                    <h2>JDK版本：11.0.4</h2>
                    <h2>数据库：Mysql/Redis(缓存)</h2>
                    <h2>前端框架：Layui</h2>
                    <h2>前端模板：KITADMIN</h2>
                    <h2>模板地址：http://www.jq22.com/demo/BeginnerAdmin201701192304/#/</h2>
                    <h2>后端框架：Spring Boot</h2>
                    <h2>安全框架：Shiro(集成Redis缓存、MD5加密、Kaptchar验证码、thymeleaf标签)</h2>
                    <h2>开发时间：2020/3/10 —— 2020/3/25</h2>
                </div>
            </div>
        </div>
    </div>
</div>
